iframe{
	 height: 550px;
}

.pre-load{
    position: fixed;
    display:none;
    background: rgba(34,34,34,0.1);
    z-index: 200;
    height: 100%;
    width: 100%;
}

.pre-load::before{
  height: 1em;
    width: 1em;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -.5em;
    margin-top: -.5em;
    content: '';
    -webkit-animation: spin 1s ease-in-out infinite;
    animation: spin 1s ease-in-out infinite;
    background: url(../img/loader.svg) center center;
    background-size: cover;
    line-height: 1;
    text-align: center;
    font-size: 2em;
    color: rgba(0,0,0,.75);
}


.preload-active{
  display:block;
}